body{
    background: #0079bf;
}

.clear {
    clear: both;
}

.navbar{
    border-radius: 0px;
}

.tasks-group{
    background: #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.tasks-group .tasks-group-header{
    background: #bbb;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.tasks-group .tasks-group-item{
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
}
.tasks-group .tasks-group-item .tasks-group-item-content{
    padding: 10px 10px 3px 10px;
}
.tasks-group .tasks-group-item .tasks-group-item-content img{
    border-radius: 4px;
    width: 100%;
}
.tasks-group .tasks-group-item-container{
    margin-bottom: 10px;
}
.tasks-group .tasks-group-item:last-child{
    margin-bottom: 0px;
}
.tasks-group .tasks-group-item .links{
    padding: 5px 10px;
}
.tasks-group .tasks-group-item .links ul{
    margin: 0px;
    padding: 0px;
}
.tasks-group .tasks-group-item .links ul li{
    display: inline-block;
    margin-right: 10px;
}
.tasks-group .tasks-group-item .links ul li:last-child{
    margin-right: 0px;
}
.tasks-group .tasks-group-item .info{
    background: #eee;
    padding: 3px 6px;
    font-weight: 300;
    color: #888;
    font-size: 12px;
}
.tasks-group .tasks-group-item .info ul{
    margin: 0px;
    padding: 0px;
}
.tasks-group .tasks-group-item .info ul li{
    display: inline-block;
    margin-right: 8px;
}
.tasks-group .tasks-group-item .info ul li:last-child{
    margin-right: 0px;
}
.tasks-group .tasks-group-links, .tasks-group-form{
    background: #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}
.tasks-group .tasks-group-links, .tasks-group-form form textarea{
    resize: none;
}
.tasks-group .tasks-group-item .check{
    background: #bbb;
    padding: 3px 6px;
    font-weight: 300;
    color: #888;
    font-size: 12px;
    border-radius: 0px 0px 3px 3px;
}
.tasks-group .tasks-group-item .visible{
    background: green;
}