<div class="col-sm-6 col-md-3" id="group_{{ group.id }}">
    <div class="tasks-group">
        <div class="tasks-group-header">
            <div class="clear"></div>
            <span class="pull-left">{{ group.title }}</span>
            <button class="btn btn-secondary btn-sm pull-right" onclick="delGroup({{ group.id }});"><i class="fa fa-trash"></i></button>
            <div class="clear"></div>
        </div>
        <div class="tasks-group-item-container" id="cards-for-{{ group.id }}">
            {% for card in group.card_set.all %}
                {% include 'home/card_partial.html' %}
            {% endfor %}
        </div>
        <div class="tasks-group-form">
            <form id="card_form_{{ group.id }}">
                <div class="form-group">
                    {{ card_form.content }}
                </div>
                <input type="hidden" name="{{ card_form.group_id.html_name }}" id="{{ card_form.group_id.auto_id }}" value="{{ group.id }}">
                {% csrf_token %}
                <button type="button" class="btn btn-primary" onclick="createCard({{ group.id }});">Add</button>
            </form>
        </div>
    </div>
</div>