{% extends '../base.html' %}
{% block title %} Tasker {% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Tasker</a>
            </div>
            <div class="btn btn-success navbar-btn" data-toggle="modal" data-target="#new-group-modal"><i class="fa fa-plus"></i> New Group</div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/labTifo/tasker"><i class="fa fa-github"></i> Github</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="groups">
            {% for group in groups %}
                {% include 'home/group_partial.html' %}
            {% endfor %}
        </div>
    </div>
    <!-- MODELS HERE -->
    <div class="modal fade" id="new-group-modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header"><strong><i class="fa fa-plus"></i> New Group</strong></div>
                <form id="group_form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{{ group_form.title.label }}</label>
                            {{ group_form.title }}
                        </div>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}