{% extends '../base.html' %}
{% block title %} Tasker {% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Tasker</a>
            </div>
            <div class="btn btn-success navbar-btn" data-toggle="modal" data-target="#new-group-modal"><i class="fa fa-plus"></i> New Group</div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/labTifo/tasker"><i class="fa fa-github"></i> Github</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="groups">
            {% for group in groups %}
                <div class="col-sm-6 col-md-3" id="group_{{ group.id }}">
                    <div class="tasks-group">
                        <div class="tasks-group-header">
                            <div class="clear"></div>
                            <span class="pull-left">{{ group.title }}</span>
                            <button class="btn btn-secondary btn-sm pull-right" onclick="delGroup({{ group.id }});"><i class="fa fa-trash"></i></button>
                            <div class="clear"></div>
                        </div>
                        <div class="tasks-group-item-container" id="cards-for-{{ group.id }}">
                            {% for card in group.card_set.all %}
                                <div class="tasks-group-item" id="card_{{ card.id }}">
                                    <div class="tasks-group-item-content">
                                        {{ card.content | safe }}
                                        {% if card.has_img %}
                                            <img src="{{ card.image }}">
                                        {% endif %}
                                    </div>
                                    <div class="links">
                                        <ul>
                                            <li><a href="#" onclick="deleteCard({{ card.id }});">Delete</a></li>
                                            {% if not card.checked %}
                                                <li><a href="#" id="card_{{ card.id }}_check_link" onclick="checkCard({{ card.id }});">Check</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="info">
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> {{ card.createdAt }}</li>
                                        </ul>
                                    </div>
                                    {% if card.checked %}
                                        <div class="check visible" id="card_check_{{ card.id }}"></div>
                                    {% else %}
                                        <div class="check" id="card_check_{{ card.id }}"></div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tasks-group-form">
                            <form id="card_form_{{ group.id }}">
                                <div class="form-group">
                                    {{ card_form.content }}
                                </div>
                                <input type="hidden" name="{{ card_form.group_id.html_name }}" id="{{ card_form.group_id.auto_id }}" value="{{ group.id }}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-primary" onclick="createCard({{ group.id }});">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- MODELS HERE -->
    <div class="modal fade" id="new-group-modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header"><strong><i class="fa fa-plus"></i> New Group</strong></div>
                <form id="group_form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{{ group_form.title.label }}</label>
                            {{ group_form.title }}
                        </div>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}